version: "3.8"

services:
  backend:
    build:
      context: .
      dockerfile: apps/backend/Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - apps/backend/.env
    # For production with postgres, uncomment:
    # depends_on:
    #   - db

  frontend:
    build:
      context: .
      dockerfile: apps/frontend/Dockerfile
    ports:
      - "8080:80"

  # db:
  #   image: postgres:15
  #   environment:
  #     POSTGRES_USER: user
  #     POSTGRES_PASSWORD: password
  #     POSTGRES_DB: okr_db
  #   ports:
  #     - '5432:5432'
  #   volumes:
  #     - db_data:/var/lib/postgresql/data
# volumes:
#   db_data:
